################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Blog.DAL.Tests/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
