################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Blog.DAL.Tests/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/Blog.DAL.Tests/obj/Debug/Blog.DAL.Tests.csproj.AssemblyReference.cache
/Blog.DAL.Tests/obj/Debug
/Blog.DAL/obj/Debug
/.vs/Blog
